[Desktop Entry]
Name=WALC
Exec=com.github.WAClient.WALC
Terminal=false
Type=Application
Icon=com.github.WAClient.WALC
Comment=An unofficial WhatsApp desktop client for Linux
Categories=Network;Chat;InstantMessaging;
StartupWMClass=walc
StartupNotify=true
X-Flatpak=com.github.WAClient.WALC
