.app-lock {
	position: fixed;
	z-index: 99999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--background-default);
	color: var(--primary-strong);
	display: grid;
	place-content: center;
}

.app-lock.unlocked {
	display: none;
}

.app-lock-container {
	background-color: var(--background-default-hover);
	padding: 16px;
	border-radius: 8px;
	box-shadow: 0 8px 16px rgba(0,0,0,0.3);
	max-width: 500px;
}

.app-lock-user {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}

.app-lock-user img {
	width: 64px;
	height: 64px;
	border-radius: 100%;
}

.app-lock-user h1 {
	font-size: 28px;
	font-weight: bold;
}

.app-lock-input {
    box-sizing: border-box;
	display: block;
	margin: 0 auto;
	margin-top: 16px;
    width: 350px;
    min-width: 0;
    min-height: 20px;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    outline: none;
    padding: 9px 12px 11px;
    background-color: var(--compose-input-background);
    border: 1px solid var(--compose-input-border);
    border-radius: 8px;
    color: 1px solid var(--compose-primary);
}

.app-lock-input:focus {
	outline: 3px solid var(--focus);
}

.app-lock-input.error {
	outline: 3px solid var(--danger);
}

.app-lock-input:disabled {
	opacity: 0.5;
}